/* CSS Document */
.invoice {
	padding: 0 !important;	
	margin:5px 0;
	margin-left:10px;
}
.content {
	background: #FDFDFD;
	background: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#FFF), to(#F2F2F2));
	background: -moz-linear-gradient(#FFF, #F2F2F2 80%);	
	color: #333;		
	padding: 20px 0 10px;
	text-algin:center;	
	padding-left:100px;
	border: 1px solid #dedede;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	/*box-shadow:0 10px 5px rgba(0,0,0,.3);*/
	box-shadow: 1px 2px 4px rgba(0,0,0,0.7);
	-moz-box-shadow:-5px -5px 5px #999 inset;             /* For Firefox3.6+ */
	-webkit-box-shadow:-5px -5px 5px #999 inset;          /* For Chrome5+, Safari5+ */
	box-shadow:-3px -3px 3px #999 inset;                 /* For Latest Opera */	  
	behavior: url(html/css/PIE.htc);
} 

.content:hover {
	border-top-right-radius: 77px 55px;
	box-shadow: 9px 9px 9px rgba(0.3,0.3,0.3,0.9);	
}
.clear {
	clear: both;
}
