body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px; 
	background-color:#ffffff;
}
.text_white1 {font-size: 12px;color: #ffffff;font-family: Arial, Helvetica, sans-serif;}
a.link_gray_12:link {color: #666666;text-decoration: none;font-size:12px; font-family: Arial, Helvetica, sans-serif; }
a.link_gray_12:visited {color: #666666;text-decoration: none;font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
a.link_gray_12:hover {color: #000000;text-decoration: underline;font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
a.link_gray_12:active {color: #666666;text-decoration: none;font-size: 12px; font-family: Arial, Helvetica, sans-serif;}

a.link_white_12:link {color: #ffffff;text-decoration: none;font-size:12px; font-family: Arial, Helvetica, sans-serif; }
a.link_white_12:visited {color: #ffffff;text-decoration: none;font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
a.link_white_12:hover {color: #ccccccc;text-decoration: underline;font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
a.link_white_12:active {color: #ffffff;text-decoration: none;font-size: 12px; font-family: Arial, Helvetica, sans-serif;}

.input_1{width:189px; height:25px; background-image:url(../images/botton_bg1.gif); background-repeat:no-repeat; background-position:left top; border: 0 none; padding-left:5px; padding-top:2px;}
.input_2{width:121px; height:25px; background-image:url(../images/botton_bg2.gif); background-repeat:no-repeat; background-position:left top; border: 0 none; padding-left:5px; padding-top:2px;}

#admin_login_1{width:100%; height:140px; text-align:center; background-image: url(../images/admin_login_1.jpg); background-repeat:repeat-x; background-position:left top;}
#admin_login_2{width:1002px; height:140px; text-align:center; background-image: url(../images/admin_login_2.jpg); background-repeat:no-repeat; background-position:left top;}
#admin_login_3{width:100%; height:370px; text-align:center; background-image: url(../images/admin_login_3.jpg); background-repeat:repeat-x; background-position:left top;}
#admin_login_4{width:1002px; height:110px; text-align:center; background-image: url(../images/admin_login_4.jpg); background-repeat:no-repeat; background-position:center top;}
#admin_login_4_1{width:1002px; height:110px; text-align:center; background-image: url(../images/admin_login_4.jpg); background-repeat:no-repeat; background-position:center top;}
#admin_login_5{width:1002px; height: auto; text-align:left; }
#admin_login_5 ul{width:1002px; height: 10px; margin-top:10px; text-align:left;font-size: 12px;color: #ffffff;font-family: Arial, Helvetica, sans-serif;  }
#admin_login_buttom{width:100%; height:100%; text-align:center; background-image: url(../images/admin_login_buttom.jpg); background-repeat:repeat; background-position:left top;}
#admin_1{width:100%; height:58px; text-align:left; background-image: url(../images/admin_1.gif); background-repeat:repeat-x; background-position:left top;}
#admin_2{width:100%; height:61px; text-align:right; background-image: url(../images/admin_2.jpg); background-repeat:no-repeat; background-position:left top; padding-top:50px;}
#admin_3{width:100%; height:9px; text-align:left; background-image: url(../images/admin_3.jpg); background-repeat:repeat-x; background-position:left top;}
#admin_4{width:140px; height:20px; text-align:left; background-image: url(../images/admin_4.jpg); background-repeat:repeat-x; background-position:left top;  BORDER: 1px #e0e0e0 solid;font-size: 12px;color: #676767;font-family: Arial, Helvetica, sans-serif; padding-top:6px; padding-left:5px;  }
#admin_5{width:350px; height:26px; text-align:right; background-image: url(../images/admin_4.jpg); background-repeat:repeat-x; background-position:left top;  BORDER: 1px #e0e0e0 solid;font-size: 12px;color: #676767;font-family: Arial, Helvetica, sans-serif;  padding-left:5px;  }
#admin_6{width:100%; height: auto; text-align:left; }
#admin_7{width:100%; height:19px; margin-top: 0px; text-align:center; background-image: url(../images/admin_7.jpg); background-repeat:repeat-x; background-position:left top;}
#admin_8{width:251; height: auto; text-align:left; background-image: url(../images/admin_8.jpg); background-repeat:repeat-y; background-position:left top;}
#admin_8_1{width:237px; height: 18px; text-align:left; background-image: url(../images/admin_9.jpg); background-repeat:repeat-x; background-position:left top;BORDER: 1px #96c5d4 solid;font-size: 12px;color: #0a495d;font-family: Arial, Helvetica, sans-serif;font-weight:bold;padding-left:5px; padding-top: 5px;}

#admin_8_2{width:237px; height: 23px; text-align:right; background-image: url(../images/admin_10.jpg); background-repeat:no-repeat; background-position:left top; padding-right:5px; padding-top:6px;}

#admin_8_3{width:237px; height: 26px; text-align:left; background-image: url(../images/admin_11.jpg); background-repeat:no-repeat; background-position:left top; padding-left:5px; padding-top:6px;font-size: 12px;color: #0a495d;font-family: Arial, Helvetica, sans-serif; padding-left:5px; padding-top:10px;}

#admin_8_4{width:242px; height: auto; text-align:left; }

#admin_8_4 ul{width:212px; height: 0px; text-align:left; padding-left:10px; padding-top:3px; padding-bottom:3px; }


#user_1{width:100%; height:45px; text-align:left; background-image: url(../images/user_1.jpg); background-repeat:repeat-x; background-position:left top;}

#user_2{width:100%; height:8px; text-align:left; background-image: url(../images/user_2.jpg); background-repeat:repeat-x; background-position:left top;}

#user_3{width:100%; height:29px; text-align:left; background-image: url(../images/user_3.jpg); background-repeat:repeat-x; background-position:left top;font-size: 12px;color: #0a495d;font-family: Arial, Helvetica, sans-serif; padding-left:0px; padding-top:12px;}


#user_4{width:100%; height: 500px; text-align:center; }       

.username{
	/* The text boxes */
	border:1px solid #dcdcdc;
	color:#666666;
	height: 28px;
	width: 281px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	vertical-align:middle;
	line-height:28px; 
	padding:1px 1px;
	background:url("../images/box_bg.png") repeat-x scroll left top #FFFFFF;
	outline:none; /* Preventing the default Safari and Chrome text box highlight */
}
.password{
	border:1px solid #dcdcdc;
	color:#666666;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	height: 28px;
	width: 281px;
	vertical-align:middle;
	line-height:28px; 
	padding:1px 1px;
	background:url("../images/box_bg.png") repeat-x scroll left top #FFFFFF;
	outline:none; /* Preventing the default Safari and Chrome text box highlight */
}
#content {
	top:0;
	width:100%;
	position:absolute;
    padding: 100px 0px 0px 0px;
	text-align: center;
	margin: auto;
}
#win {
	background-image: url(../images/login_win.png);
	background-repeat: no-repeat;
	text-align: left;
	width: 504px;
	margin: 0 auto;
	padding: 30px 30px 20px 26px;
}
#title {
	width: 499px;
	border: solid 1px #d8e3e9;
	height: 75px;
	padding-top: 5px;
	text-align: center;
}
#form {
	width: 499px;
	height: 232px;
	border: solid 1px #d8e3e9;
	border-top: 0px;
}

#left {
	width: 460px;
	float: left;
}

#right {
    float: left;
    margin: 10px 0px 0px 175px;
}

#info {
	width: 489px;
	height: 50px;
	border: 0;	
	padding: 5px;
}

#info OL {
	margin: 0px 0px 0px 20px;
	padding: 0px;
}
.t1 {
	color: #354c5e;
	font-size: 14px;
	height:34px;
	line-height:34px;
}

#no {
	margin: 8px 0px 0px 60px;
}

#pw {
	margin: 8px 0px 0px 60px;
}

#ic {
	margin: 8px 0px 0px 60px;
	line-height:34px;
	height:34px;
}

.k-button {
	margin-right: 6px;
	margin-left: 0px;
	border-bottom-width: 0px;
	height: 25px;
}




